
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.tooltip-container:hover .tooltip {
  opacity: 5;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #f5f5f5;
  padding: 20px;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #333;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}